html {
  color: black;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

  background: linear-gradient(
    151.91deg,
    rgba(13, 66, 21, 0.5) -32.99%,
    rgba(196, 222, 200, 0.5) 8.18%,
    #ffffff 97.84%
  );
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: initial;
  bottom: 0;
  top: 0;
}

h1 {
  font-family: Tahoma;
  font-style: normal;
  font-weight: normal;
  font-size: 3.6vw;
  line-height: 3.8vw;
  letter-spacing: -0.055em;
  text-transform: lowercase;

  color: #0d4215;
}

h2 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 2.7vw;
  line-height: 2.9vw;
  letter-spacing: -0.055em;
  text-transform: lowercase;

  color: #0d4215;
}

p {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 2.1vw;
  line-height: 2.3vw;
  text-align: center;

  color: #0d4215;
}

li {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 2.1vw;
  line-height: 2.3vw;

  text-align: center;

  color: #0d4215;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.success-msg {
  color: black;
}

.err-msg {
  color: red;
}
